node_modules
npm-debug.log
vendor
.git
.github
.idea
.vscode
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
*.log
*.zip
*.tar
*.gz
*.rar
*.sql
public/storage
public/hot
public/uploads
tests
docker/postgres-data
docker/mysql-data
python/dumps
